.carousel {
  @include respond(tab-port) {
    display: none;
  }

  &__container {
    position: relative;
  }

  &__text {
    color: $color-white;
    font-size: 4vh;
    left: 46rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @include respond (tab-land){
      font-size: 3vh;
    }

    &__inner {
      display: block;
    }
  }

  &__buttons {
    left: 46rem;
    position: absolute;
    top: 76%;
    transform: translate(-50%, -50%);
    
  }

  &__image {
    height: 76vh;
    object-fit: cover;
    width: 100%;

    @include respond (tab-land){
      height: 60vh;
    }
  }

  &__respond__image {
    display: none;
    width: 100%;

    @include respond(tab-port) {
      display: block;
    }
  }
}

.carousel-indicators li {
  border: 1px solid #fff;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
}
