ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: .5px solid #aaa;
	width: 100%;
}

ul.tabs li {
	float: left;
	font-size: 2rem;
	margin: 0;
	cursor: pointer;
	padding: 0px 18px; 
	height: 31px;
	line-height: 31px;
	border-top: .5px solid #aaa;
	border-left: .5px solid #aaa;
	border-bottom: .5px solid #aaa;
	background-color: #d6cab0;
	color: #333; 
	overflow: hidden;
	position: relative;
}

.tab_last { border-right: .5px solid #aaa; }
 
ul.tabs li:hover {
	background-color: #E9E9E9;
	color: #333;
}

ul.tabs li.active {
	background-color: #E9E9E9;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}

.tab_container {
	border: .5px solid #aaa; 
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
  overflow: auto;
	height: 93%;
	
	@include respond(tab-land) {
		height: 25vh;
	}

	@include respond(f-hxd) {
		height: 22vh;
	}

	@include respond(tab-port) {
		height: 24vh;
	}

	@include respond(mic-l) {
		height: 100%;
	}
}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs {
		display: none; 
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: .5px solid #aaa;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}