// COLORS
$color-primary: #009FE0;
$color-secondary: #E07700;
$color-grey-dark: #777; 
$color-white: whitesmoke;
$color-black: #000;
$black-background-color: rgba(0, 0, 0, 0.64);

//Border
$border: 1px solid #000;