.champions {
  padding: 10px 54px;

  @include respond(tab-port) {
    padding: 10px 30px;
  }

  @include respond(mic-l) {
    padding: 10px 20px;
  }

  &__list {
    @include grid;
    grid-gap: 3%;
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr)); 

    @include respond(s-phone) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));       
    }
  }

  &__name {
    @include grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 8fr;
    margin-bottom: 3%;

    &__initials {
      &__text {
        background: url(https://fonts.googleapis.com/css?family=Knewave:400);
        background-color: #575757;
        border-radius: 18px;
        color: $color-secondary;
        font-family: "Knewave", sans-serif;
        font-size: 2rem;
        font-style: italic;
        font-weight: 1000;
        padding: 2rem;
      }
    }
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}