.report {
  margin: 10px 54px;

  &__news {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &__box {
      margin-bottom: 3%;
    }

    &__image {
      height: 18vh;
      width: 100%;
    }
  }
}
